.addcart{
   padding: 20px;
}

.headerlink{
    color: black !important;
}

.addcart{
    color: #fff !important;
    border-radius: 20px;
}

.cartcontent{
    border: 1px solid grey;
    padding: 31px;
    border-radius: 75px;
    background-color: lightgray;
    margin-bottom: 20px;
}
